<h1>My Todo Tasks List</h1>

<% form_for @task do |f| -%>
	<%= f.error_messages %>

	<p>
		<%= f.text_field :name %>
		<%= f.submit 'Add' %>
	</p>

<% end -%>

<hr />
<table>
  <tr>
	<th align="left">Task</th>
	<th>Date</th>
	<th colspan="3">Status</th>
</tr>

<% @tasks.each do |task| %>
  <tr>
    <td width="500"><b><%=h task.name %></b></td>
    <td width="200"><%=h task.created_at %></td>
	<% if task.finished %>

	<td><%= image_tag("green.png", :size => "20x20")  %></td>
	<% else %>
	<td><%= image_tag("red.png") %></td>

	<% end %>
	<td><%= if task.finished
			link_to 'unmark finished', :controller => "tasks",
                            :action => "unfinish", :id => task.id
		else
			link_to 'mark finished', :controller => "tasks",
                            :action => "finish", :id => task.id
		end %></td>

    <td>| <%= link_to 'delete', task, :confirm => 'Are you sure?',
        :method => :delete %></td>
  </tr>
<% end %>

</table>
